.hero {
    background: url('../img/bg/section1.png') center center no-repeat;
    background-size: cover;
    position: relative;
}

.header {
    padding-top: 12px;
}

.header__logo {
    float: left;
    width: 32%;
}

.logo {
    display: inline-block;
}

.header__menu {
    float: left;
    width: 68%;
    padding-top: 13px;
    text-align: right;
}

.nav {
    width: 83%;
    display: inline-block;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    vertical-align: top;
    background: #e45028;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 9px 16px;
    font-family: 'ubuntumedium';
    cursor: pointer;
}

.order-link {
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    padding: 9px 0;
    margin-left: -4px;
}

.nav__list {
    width: 100%;
    @extend %clearfix;
}

.nav__item {
    white-space: nowrap;
    margin-right: 15px;
    float: left;
}

.nav__link {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-family: 'ubuntumedium';
}

.nav__item:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    margin-left: 13px;
}

.nav__item:last-child {
    margin-right: 0;
    &:after {
        display: none;
    }
}

.hero__container {
    @extend %clearfix;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.hero__content {
    @extend %clearfix;
}

.hero__left {
    float: left;
    width: 48%;
    margin-bottom: 28px;
    margin-left: 19px;
}

.hero__right {
    float: left;
    width: 48%;
    margin-top: 79px;
    margin-left: 11px;
}

.hero__desc {
    font-size: 65px;
    color: $white;
    font-family: 'lifehackmedium';
    text-transform: lowercase;
    line-height: 59px;
    max-height: 133px;
    overflow: hidden;
}

.down-arrow {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    height: 60px;
    text-align: left;
    margin-left: -15px;
    -webkit-transition: .3s;
    transition: .3s;
}
